.card{
    border-radius: 10px;
    margin: 20px 50px;
    padding: 0 10px;
    padding-top: 10px;
    // border: 1px solid red;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    img{
        width: 100%;
        border-radius: 10px;
    }
    .heading{
        font-size: 29px;
        font-weight: 800;
        margin-top: 15px;
        color: rgb(10, 73, 73);
        margin-bottom: 10px;
    }
    .card-title{
        font-size: 20px;
        color: grey;
        margin: 0;
        font-weight: 700;
    }
    .card-content{
        color :rgb(255, 115, 0);
        font-size: 16px;
        font-weight: 600;
    }
    .content-box{
        padding: 0 20px;
    }
}